<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CheckWeigherFood.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CheckWeigherFood.Properties.Settings>
            <setting name="DateSafe" serializeAs="String">
                <value />
            </setting>
            <setting name="DateQuality" serializeAs="String">
                <value />
            </setting>
            <setting name="OLE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoBB" serializeAs="String">
                <value />
            </setting>
            <setting name="OP" serializeAs="String">
                <value />
            </setting>
            <setting name="QC" serializeAs="String">
                <value />
            </setting>
            <setting name="TC" serializeAs="String">
                <value />
            </setting>
            <setting name="valueLow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="valueMid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="valueHigh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
        </CheckWeigherFood.Properties.Settings>
    </userSettings>
</configuration>